
html body {
    height: 100%;
    width: 100vw;
    box-sizing: border-box;
    border: 0;
    magin: 0;
    padding: 0;
}

#root {
    max-width: 1240px;
    margin: 0 auto;
    padding: 0rem;
    text-align: center;
}


.body {
    display: flex;
}

.layout {
    background: linear-gradient(135deg, lavender, royalblue);
}

.header {
    color: white;
    min-height: 100px;
    background-color: transparent;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.input-wrapper, .header {
    min-height: 100px;
    align-content: center;
}

.side-bar, .content {
    background-color: transparent !important;
    min-width: 300px !important;
    height: 95vh;
    margin: 2.5vh 20px;
}

.side-bar {
    overflow-y: scroll;
    overflow-block: hidden;
}

.search-bar {
    max-width: 300px;
    height: 50px;
    border: 1px solid white;
    border-radius: 50px;
    box-shadow: 0px 0px 16px #ddd;
}

input:focus {

    outline: none;
}


.results-list {
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    overflow-block: hidden;

}

h4, h5 {
    margin: 0;
    padding: 0;
}

.list-item {
    display: flex;
    flex-direction: column;
    align-content: center ;
    padding: 5px;
    margin: 5px 10px;
    margin-bottom: 10px;
    border-radius: 50px;

}

.list-item:hover {
    background-color: #eeeeee22;
    border-radius: 50px;
    box-shadow: 0 0 20px #eee;
}

.list-item.selected-track
{
    background-color: rgba(253, 215, 252, 0.87);
    box-shadow: 0 0 15px rgba(253, 215, 252);

}

.track h2 {
    font-size: 1.2rem;
}

.track h3 {
    font-size: 1rem;
}

.track-text {
    width: 300px
}
